<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="home-login.html">
<dom-module id="home-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        display: block;
      }
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      footer {
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: white;
        font-size: 14px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    </style>
    <app-header-layout>

      <app-header slot="header" condenses reveals effects="waterfall">
        <app-toolbar>
          <div main-title>Home Accessarioes</div>
        </app-toolbar>
      </app-header>
      <footer>
        &copy; Polymer project
      </footer>
      
    </app-header-layout> 

    <!-- <h2>Hello [[prop1]]!</h2> -->
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        query-params={{queryParams}}
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomeApp extends Polymer.Element {
      static get is() { return 'home-app'; }
      static get properties() {
        return {
          // prop1: {
          //   type: String,
          //   value: 'home-app'
          // },
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String
        }
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'home-login';

        // Close a non-persistent drawer when the page & route are changed.
        //if (!this.$.drawer.persistent) {
         // this.$.drawer.close();
        //}
      }

      _pageChanged(page) {console.log("test");
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
