<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id='home-login'>
    <template>
        <h1>dadd</h1>
    </template>
    <script>
        class HomeLogin extends Polymer.Element{
            static get is(){ return 'home-login';}

        }
        window.customElements.define(HomeLogin.is, HomeLogin);
    </script>
</dom-module>